In [7]:
import numpy as np
from numpy import log
import pandas as pd
from pandas import *

from datetime import datetime, date
from datetime import *

In [8]:
DATE_RANGES =  pd.date_range(datetime(2012, 1, 1), datetime(2012, 12,31))

## Access data:

#### DV : Lottery Ticket Sales: 
##### We acquired daily lottery purchases, by postal code, for the years 2012 (exploratory dataset) and 2013 (confirmatory dataset) from the NYS Gaming Commission using a Freedom Of Information Act (FOIA) request. We aggregated daily lottery ticket sales, across 174 postal Codes, for all daily, non-jackpot-based lottery games available in New York State.
##### Because jackpot amounts are not publicly disclosed before daily drawings, and winning odds remain constant (in all of these games, prizes are awarded to players whose chosen numbers match the drawn numbers regardless of the number of winning players), the expected values of each of these games (payoff × probability of winning) remain constant over days. For each postal code, we summed the sales of these games and divided this composite by the postal code’s adult population to control for population differences across postal codes yielding a measure of per capita purchases per day

In [9]:
# Lottery ticket sales 
lottery_12 = pd.read_csv(r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\Otto data\nyc_2012_lottery.csv", index_col = False)
# Select only the SalesDate, Zip and per capita columns
lottery_12 = lottery_12[["SalesDate", "ZIP", 'composite_per_capita']]
# Change the "created_at" column to type date
lottery_12["SalesDate"] = pd.to_datetime(lottery_12["SalesDate"]).dt.date

In [10]:
len(lottery_12)

63201

In [11]:
# Replace any missing dates with the mean sales per capita for that zip code
zip_codes = list(set(lottery_12["ZIP"]))

end_2012 = date(2012,12,31)

dates_in_2012 = [end_2012 - timedelta(days=x) for x in range(366)] 

for zip_code in zip_codes:
    # Find the rows in the lottery_data fr
    lottery_rows = lottery_12[lottery_12["ZIP"] == zip_code]
    
    # If the length of the zip codes rows is 366 its ok
    if len(lottery_rows) == 366:
        pass
    # If it is not 366, it has missing data
    else:
        # Check if nan
        #print(lottery_rows['composite_per_capita'].isnull().values.any())
        
        
        # Get the mean of the per capita score
        mean_per_capita_sales = lottery_rows['composite_per_capita'].mean()
        
        # Loop through date - if there is a missing value replace it with mean
        for date in dates_in_2012:
            
            if date not in list(lottery_rows["SalesDate"]):
                
                # Update the main lottery 12 dataframe
                #new_row = {"SalesDate": date, "ZIP" : zip_code, 'composite_per_capita': mean_per_capita_sales}
                #print(new_row)
                #lottery_12.append(new_row, ignore_index = True)
                lottery_12.loc[len(lottery_12.index)] = [date, zip_code, mean_per_capita_sales]

In [12]:
len(lottery_12)

63318

####  DV : Sports game prediction errors:

In [13]:
# Sports team prediction errors
sports_pe_12 = pd.read_csv(r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\Otto data\Sports\nyc_metro_sports_2012.csv")
# sports_pe_13 = pd.read_csv(r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\Otto data\Sports\nyc_sports_2013.csv")

# Select the data and prediction error columns
sports_cols = ["date", 'knicks_pe','mets_pe','yankees_pe','giants_pe','devils_pe', 'sum_pe']
sports_pe_12 = sports_pe_12[sports_cols] 
# sports_pe_13 = sports_pe_2013[sports_cols]

#### IV : VADER PE

In [14]:
# Load in the VADER pe scores for each team and both years
vader_pe_dir = r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\vader_pe_scores"

devils_12_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2012, "devils"), index_col = 0)
giants_12_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2012, "giants"), index_col = 0)
knicks_12_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2012, "knicks"), index_col = 0)
mets_12_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2012, "mets"), index_col = 0)
yankees_12_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2012, "yankees"), index_col = 0)

#devils_13_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2013, "devils"), index_col = 0)
#giants_13_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2013, "giants"), index_col = 0)
#knicks_13_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2013, "knicks"), index_col = 0)
#mets_13_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2013, "mets"), index_col = 0)
#yankees_13_vader = pd.read_csv(vader_pe_dir + "\{}_{}_vader_pe.csv".format(2013, "yankees"), index_col = 0)

#### IV : Pysent PE

In [15]:
pysent_pe_dir = r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\pysent_pe_scores"

devils_12_pysent = pd.read_csv(pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "devils"), index_col = 0)
giants_12_pysent = pd.read_csv(pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "giants"), index_col = 0)
knicks_12_pysent = pd.read_csv(pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "knicks"), index_col = 0)
mets_12_pysent = pd.read_csv(pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "mets"), index_col = 0)
yankees_12_pysent = pd.read_csv(pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "yankees"), index_col = 0)

#### IV: Roberta 'suprise'

In [16]:
roberta_pe_dir = r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\roberta_pe_scores"

devils_12_roberta = pd.read_csv(roberta_pe_dir + "\{}_{}_roberta_pe.csv".format(2012, "devils"), index_col = 0)
giants_12_roberta = pd.read_csv(roberta_pe_dir + "\{}_{}_roberta_pe.csv".format(2012, "giants"), index_col = 0)
knicks_12_roberta = pd.read_csv(roberta_pe_dir + "\{}_{}_roberta_pe.csv".format(2012, "knicks"), index_col = 0)
mets_12_roberta = pd.read_csv(roberta_pe_dir + "\{}_{}_roberta_pe.csv".format(2012, "mets"), index_col = 0)
yankees_12_roberta = pd.read_csv(roberta_pe_dir + "\{}_{}_roberta_pe.csv".format(2012, "yankees"), index_col = 0)

#### IV: Distilbert 'surprise' - note taking the mean surprise, not the prediction error

In [17]:
distilbert_pe_dir = r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\distilbert_pe_scores"

devils_12_distilbert = pd.read_csv(distilbert_pe_dir + "\{}_{}_distilbert_pe.csv".format(2012, "devils"), index_col = 0)
giants_12_distilbert = pd.read_csv(distilbert_pe_dir + "\{}_{}_distilbert_pe.csv".format(2012, "giants"), index_col = 0)
knicks_12_distilbert = pd.read_csv(distilbert_pe_dir + "\{}_{}_distilbert_pe.csv".format(2012, "knicks"), index_col = 0)
mets_12_distilbert = pd.read_csv(distilbert_pe_dir + "\{}_{}_distilbert_pe.csv".format(2012, "mets"), index_col = 0)
yankees_12_distilbert = pd.read_csv(distilbert_pe_dir + "\{}_{}_distilbert_pe.csv".format(2012, "yankees"), index_col = 0)

#### IV: Not negatives - pysent

In [18]:
no_neg_pysent_pe_dir = r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\pysent_scores_no_negatives"

devils_12_no_neg_pysent = pd.read_csv(no_neg_pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "devils"), index_col = 0)
giants_12_no_neg_pysent = pd.read_csv(no_neg_pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "giants"), index_col = 0)
knicks_12_no_neg_pysent = pd.read_csv(no_neg_pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "knicks"), index_col = 0)
mets_12_no_neg_pysent = pd.read_csv(no_neg_pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "mets"), index_col = 0)
yankees_12_no_neg_pysent = pd.read_csv(no_neg_pysent_pe_dir + "\{}_{}_pysent_pe.csv".format(2012, "yankees"), index_col = 0)

## Create a master dataframe

In [19]:
master_data = pd.DataFrame(columns = ["date"])

In [20]:
# Add dates from a random dataframe
dates = list(devils_12_vader["date"])
master_data["date"] = dates

#### Add lottery ticket sales to master data

In [21]:
# Create a column for each sales zip code in master_data
# Loop through each ZIP code
zip_codes = list(set(lottery_12["ZIP"]))

zip_missing_data = {}

for zip_code in zip_codes:
    
    # Filter lottery_sales according to ZIP
    # zip_sales =  lottery_sales[lottery_sales["ZIP"] == zip_code]
    zip_sales =  lottery_12[lottery_12["ZIP"] == zip_code]
    #print(list(zip_sales["composite_per_capita"]))
    
    if len(zip_sales) == 366:
        # Create a new column using the composite_per_capita sales metric
        col_name = "sales_{}".format(zip_code)
        master_data[col_name] = list(zip_sales["composite_per_capita"])
        
    else:
        zip_missing_data[zip_code] = len(zip_sales)
    #print(len(list(zip_sales["composite_per_capita"])))

In [22]:
# Add an overall composite_per_capita for the whole New York area
sales_data = master_data[list(master_data.columns[master_data.columns.str.contains("sales_")])]
sales_data["NYC_sales"] = master_data.mean(axis=1)

# assign overall sales column to master_data
master_data["sales_NYC"] = sales_data["NYC_sales"]

#### Add Borough for each ZIP code

In [23]:
# borough has "Borough", "Neighborhood" and "ZIP"
zip_names = pd.read_csv(r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\Otto data\2012_paper\zip_names.csv")

In [24]:
# Add in a borough for each ZIP code in the origal lottery sales file
lottery_12["borough"] = ""

for zip_code in zip_codes:
    lottery_12.loc[lottery_12["ZIP"] == zip_code, "borough"] = list(zip_names.loc[zip_names["ZIP"] ==  zip_code,"Borough"])[0]

In [25]:
# Create a composite_per_capita sales figure in master_data for each borough on each day
boroughs = list(set(zip_names["Borough"]))


# Select by borough
for borough in boroughs:
    per_capita_sales = []
    # For each date find the mean composite_per_capita
    for date in DATE_RANGES:
        # select rows of lottery_12 that relate to the borough and date
        borough_rows = lottery_12.loc[lottery_12["borough"] == borough]
        date_rows = borough_rows.loc[borough_rows["SalesDate"] == date]
        # Calculate the mean for the borough on each day
        mean_borough_on_that_date = np.mean(date_rows["composite_per_capita"])
        per_capita_sales.append(mean_borough_on_that_date)
    
    # Update master_data
    col_name = "sales_{}".format(borough)
    master_data[col_name] = per_capita_sales

In [26]:
# boroughs

#### Add Sports Fixture Prediction Errors

In [27]:
# Concatonate the sports fixtures onto the master data dataframe. 
sports_pe_12  = sports_pe_12[["knicks_pe","mets_pe","yankees_pe","giants_pe","devils_pe","sum_pe"]]
master_data = pd.concat([master_data,sports_pe_12] , axis = 1)

#### Add Vader pe

In [28]:
### VADER SCORES
# iterate through each of the vader dataframes and create a new col for each team
vader_dataframes = {"devils": [devils_12_vader], 
                    "giants": [giants_12_vader],
                    "knicks": [knicks_12_vader], 
                    "mets": [mets_12_vader],
                    "yankees": [yankees_12_vader]}

for team in vader_dataframes.keys():    
    # Add the vader pe column to master_data
    col_name = team + "_vader_pe"
    master_data[col_name] = vader_dataframes[team][0]["PE_Vader"]

In [29]:
#master_data[master_data["knicks_vader_pe"].isnull()]

#### Add pysent pe

In [30]:
### pysent SCORES
# iterate through each of the pysent dataframes and create a new col for each team
pysent_dataframes = {"devils": [devils_12_pysent], 
                    "giants": [giants_12_pysent],
                    "knicks": [knicks_12_pysent], 
                    "mets": [mets_12_pysent],
                    "yankees": [yankees_12_pysent]}

for team in pysent_dataframes.keys():    
    # Add the pysent pe column to master_data
    col_name = team + "_pysent_pe"
    master_data[col_name] = pysent_dataframes[team][0]["PE_pysent"]

#### Add Roberta pe

In [31]:
### roberta SCORES
# iterate through each of the roberta dataframes and create a new col for each team
roberta_dataframes = {"devils": [devils_12_roberta], 
                    "giants": [giants_12_roberta],
                    "knicks": [knicks_12_roberta], 
                    "mets": [mets_12_roberta],
                    "yankees": [yankees_12_roberta]}

for team in roberta_dataframes.keys():    
    # Add the roberta pe column to master_data
    col_name = team + "_roberta_pe"
    master_data[col_name] = roberta_dataframes[team][0]["PE_roberta"]

#### Add mean surprise

In [32]:
for team in roberta_dataframes.keys(): 
    # Add the mean roberta scores to master_data
    col_name = team + "_mean_roberta"
    master_data[col_name] = roberta_dataframes[team][0]["mean_roberta"]

#### Add distiberta mean surprise

In [36]:
### distilbert SCORES
# iterate through each of the distilbert dataframes and create a new col for each team
no_neg_dataframes = {"devils": [devils_12_distilbert], 
                    "giants": [giants_12_distilbert],
                    "knicks": [knicks_12_distilbert], 
                    "mets": [mets_12_distilbert],
                    "yankees": [yankees_12_distilbert]}

for team in no_neg_dataframes.keys(): 
    # Add the mean distilbert scores to master_data
    col_name = team + "_mean_distilbert"
    master_data[col_name] = no_neg_dataframes[team][0]["mean_distilbert"]

#### Add no negative pysent

In [37]:
### no_neg_pysent SCORES
# iterate through each of the no_neg_pysent dataframes and create a new col for each team
no_neg_pysent_dataframes = {"devils": [devils_12_no_neg_pysent], 
                    "giants": [giants_12_no_neg_pysent],
                    "knicks": [knicks_12_no_neg_pysent], 
                    "mets": [mets_12_no_neg_pysent],
                    "yankees": [yankees_12_no_neg_pysent]}

for team in no_neg_pysent_dataframes.keys(): 
    # Add the mean no_neg_pysent scores to master_data
    col_name = team + "_mean_no_neg_pysent"
    master_data[col_name] = no_neg_pysent_dataframes[team][0]["PE_pysent"]

#### Make log sales figures

In [38]:
sales_columns = master_data.columns[master_data.columns.str.contains("sales_")]
# Create a new column with the log of each sales column
for col in sales_columns:
    # Take the log of each value
    log_sales = log(master_data[col])
    
    # Update master_data
    col_name = "log_{}".format(col)
    master_data[col_name] = log_sales

C:\Users\clark\miniconda3\lib\site-packages\pandas\core\arraylike.py:274: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [39]:
master_data

,date,sales_10280,sales_10301,sales_10302,sales_10303,sales_10304,sales_10305,sales_10306,sales_10307,sales_10308,...,log_sales_11236,log_sales_11237,log_sales_11238,log_sales_11239,log_sales_NYC,log_sales_Staten Island,log_sales_Queens,log_sales_Bronx,log_sales_Manhattan,log_sales_Brooklyn
0,2012-01-01,0.064536,0.430190,0.939558,0.916459,0.337124,0.541060,0.522432,0.687009,0.330482,...,-0.318321,-0.968899,-0.600332,-0.788025,-0.864180,-0.591675,-1.043726,-0.675271,-0.961878,-0.705189
1,2012-01-02,0.060407,0.513311,0.936505,1.006610,0.494981,0.523752,0.690706,1.139214,0.367732,...,-0.231584,-0.653420,-0.375553,-0.525406,-0.577466,-0.290198,-0.706686,-0.289719,0.226173,-0.341575
2,2012-01-03,0.146047,0.474314,0.903831,1.114801,0.560118,0.567784,0.569312,1.060930,0.367802,...,-0.291571,-0.666672,-0.421848,-0.507507,-0.323058,-0.135920,-0.595517,-0.190385,0.352865,-0.223672
3,2012-01-04,0.182291,0.524183,1.062368,1.769368,0.524241,0.670355,0.640584,1.368025,0.398322,...,-0.238778,-0.655920,-0.350477,-0.702886,-0.301784,-0.476488,-0.840557,-0.463983,-0.686498,-0.473402
4,2012-01-05,0.226640,0.551584,1.093443,0.938807,0.536140,0.648923,0.666338,1.529770,0.379440,...,-0.196848,-0.634120,-0.370434,-0.534597,-0.276414,-0.336610,-0.708813,-0.289107,0.201680,-0.358613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2012-12-27,0.095810,0.646602,1.601039,2.992876,1.051182,0.834438,0.822526,0.956280,0.474598,...,-0.141513,-0.614459,-0.347443,-0.480522,-0.258794,0.087169,-0.617031,-0.343468,0.218552,-0.311132
362,2012-12-28,0.076082,0.572903,1.592208,1.352963,0.647061,0.748739,0.683225,0.892138,0.472261,...,-0.121144,-0.554886,-0.246593,-0.302405,-0.290815,-0.142560,-0.573636,-0.255949,0.197090,-0.293042
363,2012-12-29,0.145817,0.536628,1.878026,1.205250,0.722895,0.697033,0.758587,1.060834,0.519723,...,-0.104747,-0.491800,-0.241918,-0.273605,-0.405237,-0.142150,-0.657173,-0.295666,-0.509831,-0.345833
364,2012-12-30,0.155183,0.507637,1.052264,0.862526,0.618244,0.651242,0.635841,0.976784,0.389419,...,-0.238353,-0.721400,-0.406183,-0.697201,-0.550793,-0.390298,-0.831683,-0.527591,-0.789721,-0.557169
365,2012-12-31,0.155183,0.622914,1.464600,1.447367,0.663682,0.637374,0.779300,0.976784,0.475883,...,-0.070269,-0.504520,-0.131491,-0.260273,-0.252925,-0.158315,-0.558332,-0.215720,-0.000603,-0.249310

### Merge with nuisance variables

In [40]:
nuisance_variables = pd.read_csv(r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\nuisance_variables.csv")

In [41]:
final_data = pd.concat([master_data, nuisance_variables], axis = 1)

### Check for missing values - no missing values

In [42]:
final_data.isnull().values.any()

False

## Output master_data

In [43]:
master_data.to_csv(r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\master_data_no_neg_pysent.csv")

In [36]:
#final_data.to_csv(r"C:\Users\clark\OneDrive - University of Warwick\Diss\2. Analysis\Data\final_data_distilbert.csv")